.back{
    background-color: #00000066;
}
.centerbox{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(211, 211, 211);
    border-radius: 2rem;
    height: 70vh;
    width: 35vw;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 1rem 1rem #00000066;
    padding: 2rem;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container{
    width: inherit;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
.desc{
    font-size: clamp(0.75rem, 1vw,2rem);
    min-height: 2rem;
}
.divLvl{
    font-size: 0.75rem;
    padding: 0rem 0rem 0rem 1rem;
}
.prog-xp{
    width: 5rem;
    accent-color: red;
}
.modal{
    z-index: 99;
    box-shadow: 0 0rem 0rem #00000066;
    text-align: center;
}
.wrapper{
    padding: 1rem;
    outline: auto;
}
.subwrapper{
    display:flex;
    justify-content: space-between;
}
.output{
    font-size: clamp(0.75rem, 1vw,2rem);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.pc-only{
    display: block;
}
.mobile-only{
    display: none;
}
button{
    border-radius: 50px;
    background-color: rgb(107, 107, 107);
    border: none;
    color: #FFF;
    font-size:1rem;
    height: 2rem;
    width: 12rem;
}
button:hover{
    background-color: rgb(170, 170, 170);
}
button:disabled{
    background-color: rgb(203, 203, 203);
    border: 1px solid #878787;
    color: grey;
}
#btnReset{
    display: none;
}
#divLife{
    position:absolute;
    top:2rem;
    left:2rem;
    font-size: large;
}
#divScore{
    position:absolute;
    top:2rem;
    right:2rem;
    font-size: large;
}
#infoDesc{
    text-align: center;
}
#infoImage{
    border-radius:2rem;
    box-shadow: 0 0.25rem 0.25rem #00000066;
}

[data-peer-info] {
    /* min-width: 1.2rem; */
    color: white;
    background-color: rgb(107, 107, 107);
    border-radius: 50px;
    padding: 0rem 0.25rem 0rem 0.25rem;
    cursor: pointer;
}
[data-peer-info]:hover {
    background-color: rgb(170, 170, 170);
}

@media (max-width: 1200px) {
    .centerbox{
        width: 60vw;
        height: 76vh;
    }
    .container{
        width: inherit;
        display:flex;
        flex-direction: column;
    }
    .prog-xp{
        width: 8rem;
    }
    .pc-only{
        display: none;
    }
    .mobile-only{
        display: block;
    }
    button:hover{
        background-color: rgb(107, 107, 107);
    }
    #divLife{
        top:1.5rem;
        font-size: medium;
    }
    #divScore{
        top:1.5rem;
        font-size: medium;
    }
}

@media (max-width: 690px) {
    #divLife{
        top:1rem;
        font-size: medium;
    }
    #divScore{
        top:1rem;
        font-size: medium;
    }
}